/* Фон и общие настройки */
html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Lobster', sans-serif;
     background-image: url('img/photo6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #6d573f;
}

/* Шапка */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #c6a9831f;
}

/* Заголовок */
.title {
    margin: 0;
    text-align: center;
    flex: 1;
    font-size: 70px;
}

.nav-btn {
    text-decoration: none;
    padding: 10px 20px;
    color: #564127;
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;
}

/* Галерея */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Фото + подпись */
.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo img {
    width: 400px;
    height: auto;
    border-radius: 20px;
    object-fit: cover;

    /* Лёгкая тень */
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Наведение на фото */
.photo img:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

/* Подпись под фото */
.photo p {
    margin-top: 8px;
    text-align: center;
}

/* Шахматное расположение */
.photo:nth-child(odd) {
    margin-top: 30px; /* сдвигаем нечетные фото вниз */
}

/* Адаптив */
@media (max-width: 500px) {
    .title {
        font-size: 36px;
    }

    .photo img {
        width: 90%;
    }

    .photo:nth-child(odd) {
        margin-top: 15px;
    }
}