body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Lobster', sans-serif;
    color: lch(100% 0.01 296.81);
    background: linear-gradient(90deg, #839cf4, #bda8ea, #ddbbe2);
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background: linear-gradient(90deg, #839cf4, #bda8ea, #ddbbe2);
}

/* Заголовок */
.title {
    margin: 0;
    text-align: center;
    flex: 1;
    font-size: 70px;
    background: linear-gradient(90deg, #fdeb77,#f584b3,#2473bc);
    -webkit-background-clip: text; /* для Chrome и Safari */
    -webkit-text-fill-color: transparent; /* делаем текст прозрачным, чтобы был виден градиент */
}

.gradient-text {
   background: linear-gradient(90deg, #3697ef,#914e9d);
    -webkit-background-clip: text; /* для Chrome и Safari */
    -webkit-text-fill-color: transparent; /* делаем текст прозрачным, чтобы был виден градиент */
    
    /* Для Firefox */
    background-clip: text;
    color: transparent;
    
    font-size: 70px;
    font-family: 'Lobster', sans-serif;
    text-align: center;
}

/* Кнопки */
.nav-btn {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;
}

.nav-btn:first-child,
.nav-btn:last-child {
    flex: 0;
}

/* Контактная навигация */
.nav-item {
    position: relative;
    cursor: pointer;
    margin-left: -20px;
}

/* Popup карточка */
.nav-item .popup {
    display: none;
    position: absolute;
    top: 100%;        /* прямо под словом */
    left: 50%;
    transform: translateX(-70%);
    margin-top: 10px;
    z-index: 1000;    /* чтобы всегда поверх */
    flex-direction: column;
    align-items: center;
}

/* Показываем при наведении на nav-item или popup */
.nav-item:hover .popup,
.nav-item .popup:hover {
    display: flex;
}

/* Карточка */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 8px;
    min-width: 180px;
}

/* Телефон в одну строку */
.card .phone {
    white-space: nowrap;
}

/* Соцсети под телефоном */
.card .socials {
    white-space: normal;
    margin-top: 5px;
}

.photo {
    margin-left: 550px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo img {
    width: 100px;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    
}

.block{
    padding-left: 380px;
    display: flex;          /* элементы в строку */
    align-items: flex-start;    /* по центру по высоте */
    gap: 140px;              /* расстояние между текстом и фото */
    margin-top: 100px;
}


.text-block p{
    white-space: nowrap;
    margin: 0;
    max-width: 400px;       /* чтобы текст не растягивался */
    font-size: 30px;
}

.photo img{
    width: 450px;
    border-radius: 20px;
}

.text-block { 
    margin-top: 170px;
    padding: 20px;
    display: flex;          /* параграфы в строку */
    gap:  30px; 
    flex-direction: column; 
    width: 10px;            /* расстояние между ними */
}

/* Адаптив */
@media (max-width: 500px) {
    h1 {
        font-size: 36px;
    }

    .card {
        max-width: 90%;
        padding: 20px;
    }
}