/* ===== Общие настройки ===== */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lobster', sans-serif;
    background-image: url('img/photo6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #6d573f;
}

/* ===== Шапка ===== */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    flex-wrap: wrap;
    background-color: #c6a9831f;
}

h1 {
    text-shadow: 2px 2px 3px #785C38;
}

.title {
    margin: 0;
    flex: 1;
    text-align: center;
    font-size: clamp(28px, 5vw, 70px);
}

/* Кнопки */
.nav-btn {
    text-decoration: none;
    padding: 10px 20px;
    color: #564127a6;
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;
    min-width: max-content;
}

.nav-btn:first-child,
.nav-btn:last-child {
    flex: 0;
}

/* Контактная навигация */
.nav-item {
    padding-right: 20px;
    position: relative;
    cursor: pointer;
    margin-left: -20px;
}

/* Popup карточка */
.nav-item .popup {
    min-width: max-content;
    padding-right: 20px;
    display: none;
    position: absolute;
    top: 100%;        /* прямо под словом */
    left: 50%;
    transform: translateX(-70%);
    margin-top: 10px;
    z-index: 1000;    /* чтобы всегда поверх */
    flex-direction: column;
    align-items: center;
}

/* Показываем при наведении на nav-item или popup */
.nav-item:hover .popup,
.nav-item .popup:hover {
    display: flex;
}

/* ===== Блок текст + фото ===== */
.block {
    max-width: 1200px;
    margin: 80px auto;
    padding: 20px;

    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Фото */
.photo img {
    width: 100%;
    max-width: 450px;
    border-radius: 20px;
    display: block;
}

/* Текст */
.text-block {
    max-width: 500px;
    border-radius: 20px;
    background-color: #785c3819;
    padding: 20px;
    display: inline-block;


}

.text-block p {
    font-size: clamp(18px, 2.5vw, 30px);
    margin: 10px 0;
    text-shadow: 1px 1px 2px #785c3862
}

/* ===== Адаптация ===== */

@media (max-width: 1080px) {

    .header {
        flex-direction: column;
        gap: 10px;
    }

    .block {
        flex-direction: column;
        text-align: center;
    }

    .text-block {
        max-width: 100%;
    }
}

@media (max-width: 1024px) {
    .nav-item {
    padding-left: 39px;
    }
    .card {
       padding-left: 200px;
   } 
}

@media (max-width: 768px) {
    .nav-item {
    padding-left: 40px;
    }

    .header {
        flex-direction: column;
        gap: 10px;
    }

    .block {
        flex-direction: column;
        text-align: center;
    }

    .text-block {
        max-width: 100%;
    }
    .card {
       padding-left: 200px;
   } 
}

@media (max-width: 425px) {
    .nav-item {
    padding-left: 40px;
    }

    .title {
        font-size: 26px;
    }

    .text-block p {
        font-size: 16px;
    }
    .card {
       padding-left: 200px;
   } 
}

@media (max-width: 375px) {
    .nav-item {
    padding-left: 40px;
    }
    .card {
       padding-left: 200px;
   } 
}

@media (max-width: 320px) {
    .nav-item {
    padding-left: 40px;
    }
    .card {
       padding-left: 200px;
   } 
}

