/* ===== Общие настройки ===== */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lobster', sans-serif;
    background: linear-gradient(90deg, #839cf4, #bda8ea, #ddbbe2);
    color: #fff;
}

/* ===== Шапка ===== */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    flex-wrap: wrap;
}

.title {
    margin: 0;
    flex: 1;
    text-align: center;
    font-size: clamp(28px, 5vw, 70px);
}

/* Кнопки */
.nav-btn {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;
}

.nav-btn:first-child,
.nav-btn:last-child {
    flex: 0;
}

/* Контактная навигация */
.nav-item {
    padding-right: 20px;
    position: relative;
    cursor: pointer;
    margin-left: -20px;
}

/* Popup карточка */
.nav-item .popup {
    min-width: max-content;
    padding-right: 20px;
    display: none;
    position: absolute;
    top: 100%;        /* прямо под словом */
    left: 50%;
    transform: translateX(-70%);
    margin-top: 10px;
    z-index: 1000;    /* чтобы всегда поверх */
    flex-direction: column;
    align-items: center;
}

/* Показываем при наведении на nav-item или popup */
.nav-item:hover .popup,
.nav-item .popup:hover {
    display: flex;
}

/* ===== Блок текст + фото ===== */
.block {
    max-width: 1200px;
    margin: 80px auto;
    padding: 20px;

    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Фото */
.photo img {
    width: 100%;
    max-width: 450px;
    border-radius: 20px;
    display: block;
}

/* Текст */
.text-block {
    max-width: 500px;
}

.text-block p {
    font-size: clamp(18px, 2.5vw, 30px);
    margin: 10px 0;
}

/* ===== Адаптация ===== */
@media (max-width: 768px) {

    .header {
        flex-direction: column;
        gap: 10px;
    }

    .block {
        flex-direction: column;
        text-align: center;
    }

    .text-block {
        max-width: 100%;
    }
}

@media (max-width: 400px) {
    .title {
        font-size: 26px;
    }

    .text-block p {
        font-size: 16px;
    }
}